body{
  background-color: #7b5c43;
  color:white;
}
#msg{
  text-align: center;
}
.groop {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin: 20px auto;
  max-width: 90%;
}
.groop img:hover{
  cursor:url('../image/glungus/glunguspointer.png'),pointer;
}
.groop img{
  width: 400px;
  max-width: 95%;
  height: auto;
  aspect-ratio: 1/1;
  max-height: 95%;
  border: 2.5px dashed #2d2d2d;
  object-fit: cover;
}
