body{background-color:#052e06;}
h1,h2{
  color:#f0f0f0;
  text-align: center;
}
/* Example to center a div so i dont forget
div{
  display:flex;
  justify-content:center;
  align-items:center;
}
*/
.projects {
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:15px;
}
.projects a {
  display:flex;
  justify-content:center;
  align-items:center;
  max-width:400px;
  width:90%;
  border:3px dashed #000000;
}
.projects img {
  width:100%;
  height:auto;
  object-fit:cover;
}

.sr-only {
  position:absolute;
  width:1px;
  height:1px;
  padding:0;
  margin:-1px;
  overflow:hidden;
  clip:rect(0, 0, 0, 0);
  border:0;
}
